# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]

# Python cache files
__pycache__/
*.py[cod]
*$py.class
build/
dist/
wheels/
*.egg-info/
.ruff_cache/
.mypy_cache/

# IDE/AI specific files
.vscode/
.claude/

# Virtual environments
.venv/

# Environment variables
.env.*
.env/

# Git
.git
.gitignore

# Tests
tests/
.pytest_cache/

# Scripts
scripts/
